.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  z-index: 2;

  @media screen and (max-width: 414px) {
    align-items: flex-start;
    flex-direction: column;
    padding: 6rem 0;
  }

  @media screen and (max-width: 768px) {
    align-items: flex-start;
    flex-direction: column;
    padding: 6rem 0;
  }

  @media screen and (max-width: 800px) {
    align-items: flex-start;
    flex-direction: column;
    padding: 6rem 0;
  }

  @media screen and (max-width: 1024px) {
    padding: 6rem 0;
  }

  &__name {
    & a {
      color: $color-light;
      & h1 {
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 0.3rem;
        text-transform: uppercase;

        @media screen and (min-width: 415px) and (max-width: 768px) {
          font-size: 3rem;
        }

        @media screen and (min-width: 769px) and (max-width: 1024px) {
          font-size: 2.5rem;
        }
      }
    }
  }

  &__links {
    @media screen and (max-width: 414px) {
      margin: 3rem 0 0 0;
    }

    @media screen and (max-width: 768px) {
      margin: 3rem 0 0 0;
    }

    & ul {
      display: flex;

      & li:not(:last-child) {
        margin-right: 2rem;
      }
      & li {
        font-size: 1.4rem;
        & a {
          color: $color-gray;
        }
        & .is-active {
          color: $color-light;
        }
      }
    }
  }
}
