.layout {
  width: 100%;
  position: relative;
  padding: 0 12rem;
  background: $color-dark;
  height: 100% !important;
  min-height: 100vh;
  overflow: hidden;

  @media screen and (min-width: 0px) and (max-width: 414px) {
    padding: 0 4rem;
  }

  @media screen and (min-width: 415px) and (max-width: 768px) {
    padding: 0 8rem;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    padding: 0 12rem;
  }

  &::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    min-width: 35%;
    min-height: 70%;
    background: transparent;
    border: 0.5px solid rgba($color-gray, 0.3);
    transform: rotate(-25deg) translateX(30%) translateY(-20%);

    @media screen and (min-width: 0px) and (max-width: 414px) {
      min-height: 30%;
    }

    @media screen and (min-width: 415px) and (max-width: 768px) {
      min-height: 45%;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      min-height: 45%;
    }
  }

  &::before {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 35%;
    min-height: 40%;
    background: transparent;
    border: 0.5px solid rgba($color-gray, 0.3);
    transform: rotate(20deg) translateX(20%) translateY(-50%);

    @media screen and (min-width: 0px) and (max-width: 414px) {
      min-height: 25%;
    }

    @media screen and (min-width: 415px) and (max-width: 768px) {
      min-height: 30%;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      min-height: 30%;
    }
  }

  &__children {
    position: relative;
    width: inherit;
    height: 100% !important;
    padding: 2rem 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    min-height: 75vh;
  }
}
