.portfolio {
  position: relative;

  &__title {
    text-align: center;
    margin-bottom: 10rem;

    &_extrasmall {
      display: block;
      font-size: 1.5rem;
      font-weight: 200;
      color: $color-gray;
      text-transform: uppercase;

      &:hover {
        color: $color-light;
      }
    }

    &_small {
      display: block;
      font-size: 2rem;
      font-weight: 200;
      color: $color-gray;
      text-transform: uppercase;
    }
    &_big {
      display: block;
      font-size: 3rem;
    }
  }

  &__content {
    position: relative;
    width: 70%;
    margin: auto;
    margin-bottom: 5rem;

    @media screen and (max-width: 414px) {
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    & h1 {
      font-size: 3rem;
      margin: 1rem 0;
      font-weight: 200;

      @media screen and (min-width: 0px) and (max-width: 414px) {
        font-size: 2.3rem;
      }

      @media screen and (min-width: 415px) and (max-width: 768px) {
        font-size: 2.6rem;
      }

      @media screen and (min-width: 769px) and (max-width: 1024px) {
        font-size: 2.8rem;
      }
    }

    & a {
      color: $primary-color;
      font-size: 1.8rem;
      display: inline-block;
      transition: all 0.2s ease-out;
      margin: 0.5rem 0;
    }

    &_alldiv {
      & h4,
      h5,
      ol {
        display: none;
      }
      & p {
        width: 100%;
      }
    }

    &_eachdiv {
      & h4 {
        font-size: 2.5rem;
        font-weight: 200;
      }

      & h5 {
        font-size: 1.8rem;
        font-weight: 200;
        color: $color-gray;
      }

      & ol {
        list-style: disc inside;

        & li {
          color: $color-gray;
          font-size: 1.8rem;
          font-weight: 200;
        }
      }
    }
  }
}
