.items {
  position: relative;
  width: 75%;
  margin: auto;

  @media screen and (min-width: 0px) and (max-width: 767px) {
    width: 95%;
  }

  & > div,
  p,
  footer {
    padding: 1rem 0;
  }

  p,
  footer {
    font-size: 1.6rem;
  }

  a {
    position: relative;
    padding: 0.2rem 0;
    font-weight: bold;
    color: #3b3b3b;

    &::before {
      content: "";
      position: absolute;
      background: rgba(green, 0.6);
      top: 0;
      left: 0;
      width: 100%;
      height: 15%;
      transition: all 0.2s ease-in;
    }

    &::after {
      content: "";
      position: absolute;
      background: rgba(green, 0.6);
      bottom: 0;
      left: 0;
      width: 0;
      height: 15%;
      transition: all 0.3s ease-in;
    }

    &:hover::before {
      width: 0;
    }
    &:hover::after {
      width: 100%;
    }
  }

  & .intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & span:first-child {
      font-size: 5rem;
      font-weight: 400;
    }

    & span:nth-child(2) {
      font-size: 1.6rem;
    }
  }

  & p:first-child {
    display: none;
  }
}
