* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media screen and (max-width: 414px) {
    font-size: 58.5%;
  }
}

body {
  font-family: "Raleway", sans-serif;
  background-size: cover;
  color: #3b3b3b;
  line-height: 1.8;
}

ul {
  list-style: none;
}

a,
a:link {
  text-decoration: none;
  outline: none;
  color: #141414;
}

input,
textarea {
  outline: none;
}

::placeholder {
  font-family: "Raleway", sans-serif;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.layout {
  position: relative;

  &-children {
    position: relative;
    width: 100%;
    padding: 6rem;

    @media screen and (min-width: 0px) and (max-width: 767px) {
      padding: 3rem 1rem;
    }
  }
}
